/**
 regfmt example CSS file

 Copyright © 2022 Charles Y. Choi
 */

body {
    font-family: Futura, Helvetica, Arial, Verdana, FreeSans;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    fill: white;
    stroke: black;
    stroke-width: 1.0;
    stroke-linecap: butt;
}

register-name {
    fill: green;
}

field-name {
    fill: teal;
}

field-index {
    fill: darkslategrey;
}

field-name-line: {
    stroke: purple;
}
